.popnewsItem{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    width: 100%;
    background: var(--color-box-base);
    border: 1px solid var(--color-line-in-white);
    border-radius: 0.8rem;
    margin-top: 2.4rem;
    overflow: hidden;
    animation-name: fade;
    animation-duration: 2000ms;
    -webkit-box-shadow: -1px 0px 10px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    -1px 0px 10px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         -1px 0px 10px 0px rgba(50, 50, 50, 0.5);
}

.popnewsItem header a{
    padding: 3.2rem 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    margin-bottom: 0;
    
}

.popnewsItem header a img{
    width: 22rem;
    height: 22rem;
    border-radius: 15%;
    object-fit: cover;
    object-position: center;
    border: 1px double grey;

    cursor: pointer;

}

.popnewsItem header div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.popnewsItem header div span{
    font-size: 1.2rem;
    display: block;
    margin-top: 0.4rem;
}

.popnewsItem header div span + span{
   margin-left: 24rem;
}

.popnewsItem > p{
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
    text-align: center;
    margin-bottom: auto;
}

.popnewsItem footer{
    padding: 3.2rem 2rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popnewsItem footer p strong{
    color: var(--color-primary);
    font-size: 1.4rem;
    display: block;
    margin-top: 1rem;
}

.popnewsItem footer button{
    width: 13rem;
    height: 5.6rem;
    padding: 1rem;
    background: var(--color-secundary);
    color: var(--color-primary-darker);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.3rem Archivo;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
}

.popnewsItem footer button:hover{
    background: var(--color-secundary-dark);
}

.popnewsItem footer a{
    text-decoration: none;
}

.popnewsItem footer p{
    font-size: 1.4rem;
}

.popnewsItem header a div strong{
    font: 700 1.8rem Archivo;
    max-width: 100%;
    display: block;
    color: var(--color-text-title);

    text-align: justify;

    cursor: pointer;
}

@keyframes fade {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }


@media(min-width: 800px){
    .popnewsItem{
        height: 60rem;
    }

    .popnewsItem header a{
        flex-direction: column;
    }

    .popnewsItem header div{
        margin-left: 5%;
    }

    .popnewsItem header a img{
        width: 90%;
        border-radius: 5%;
    }

     .popnewsItem > p{
        height: 4rem;
    }

    .popnewsItem footer p strong{
        font-size: 1.8rem;
    }

    .popnewsItem footer button{
        width: 20rem;
        font: 700 1.5rem Archivo;
    }

    .popnewsItem header a div strong{
        font: 700 2rem Archivo;
    }

    @keyframes fade {
        from {
          opacity: 0;
          transform: scale(0.9);
        }
        to {
          opacity: 1;
          transform: scale(1);
        }
      }
}

@media(min-width: 1200px){
    .popnewsItem{
        height: 60rem;
    }

     .popnewsItem > p{
        font-size: 1.8rem;
        height: 4rem;
    }

    .popnewsItem footer p strong{
        font-size: 1.8rem;
    }

    .popnewsItem footer button{
        width: 20rem;
        font: 700 1.5rem Archivo;
    }

    .popnewsItem header a div strong{
        font: 700 2.4rem Archivo;
        max-width: 100%;
        width: 100%;
    }

    @keyframes fade {
        from {
          opacity: 0;
          transform: scale(0.9);
        }
        to {
          opacity: 1;
          transform: scale(1);
        }
      }
}
